html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Epilogue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	overflow: hidden;
}
:root {
	--midgrey: #c4c4c4;
	--betbro-blue: #2c2837;
}
#root {
	height: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
a:visited {
	color: inherit;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
